@import "../../_variables.scss";

.main {
  margin: auto;
  width: 100vh;
}
h1 {
  color: $text-white;
  margin: auto;
  text-align: center;
}

.result {
  background-color: $screenbg;
  color: $text-white;
  width: 40vh;
  height: 10vh;
  margin: auto;
  border-radius: 1rem;
  padding: 1rem;
  text-align: right;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.input {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  background-color: $togglebg;
  width: 40vh;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;

  .break {
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
  }

  .num {
    @include buttonreset;
    background-color: $keybg-orange;
    color: $text-blue;
    font-size: 2rem;
    border-radius: 0.5rem;
    border-bottom: 4px solid $keyshadow-orange;
    width: 5rem;
    height: 3rem;
    padding: 0.25rem;
  }

  .num:hover {
    filter: brightness(120%);
  }

  .num:active {
    transform: translateY(0.25rem);
  }

  .del {
    @include buttonreset;
    background-color: $keybg-darkblue;
    color: $text-white;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border-bottom: 4px solid $keyshadow-darkblue;
    height: 3rem;
    width: 5rem;
    padding: 0.25rem;
  }

  .del:hover {
    filter: brightness(120%);
  }

  .del:active {
    transform: translateY(0.25rem);
  }

  .reset {
    @include buttonreset;
    background-color: $keybg-darkblue;
    color: $text-white;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border-bottom: 4px solid $keyshadow-darkblue;
    height: 3rem;
    width: 10rem;
    padding: 0.25rem;
  }

  .reset:hover {
    filter: brightness(120%);
  }

  .reset:active {
    transform: translateY(0.25rem);
  }

  .equal {
    @include buttonreset;
    background-color: $keybg-red;
    color: $text-white;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border-bottom: 4px solid $keyshadow-red;
    height: 3rem;
    width: 10rem;
    padding: 0.25rem;
  }

  .equal:hover {
    filter: brightness(120%);
  }

  .equal:active {
    transform: translateY(0.25rem);
  }

}
